/* universal selector */

* {
 margin: 0; 
 padding: 0;
box-sizing: border-box;   
     }


body { 
background-color: rgb(165, 217, 185);
font-family: sans-serif; 
font-size: medium; 
padding: 20px; 
     }


     /*id selector*/
 #main-title {

color: hwb(316 5% 7%);
text-align: center; 
text-transform: uppercase; 
text-decoration: underline;
margin-bottom: 30px;
 }


 /*class selector*/
             
 .section-title {
 color: rgb(225, 192, 255);
 text-transform: capitalize;
margin-bottom: 10px;
 }

    /*element selector*/

p {
 color: rgb(255, 100, 150);           
line-height: 1.4;
margin-bottom: 10px;
} 

h1{
 color: rgb(144, 0, 255);
  } 


  h2{ 
 color: rgb(92, 0, 138);
    }